{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets%}
    <style>
        * {
            box-sizing: border-box;
        }
        *:focus {
            outline: none;
        }
        body {
            font-family: Arial;
            /*background-image: url("../img/blur-wallpaper-26335-27026-hd-wallpapers.jpg");*/
            padding: 50px;
            height: 100vh;
            background: linear-gradient(to bottom right, #131838, #4B286C);
        }
        .login {
            margin: 90px auto;
            width: 300px;
        }

        .proefles {
            margin: 90px auto;
            width: 300px;
        }

        .login-screen {
            background-color: #FFF;
            padding: 20px;
            border-radius: 5px
        }
        .app-title {
            text-align: center;
            color: #777;
        }
        .login-form {
            text-align: center;
        }
        .control-group {
            margin-bottom: 10px;
        }
        input {
            text-align: center;
            background-color: #f2f2f2;
            border: 2px solid transparent;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 200;
            padding: 10px 0;
            width: 250px;
            transition: border .5s;
        }

        input:focus {
            border: 2px solid #36B8E9;
            box-shadow: none;
        }
        .btn {
            border: 2px solid transparent;
            background: linear-gradient(to bottom right, #E94051, #E87A1F);
            color: #ffffff;
            font-size: 16px;
            line-height: 25px;
            padding: 10px 0;
            text-decoration: none;
            text-shadow: none;
            border-radius: 3px;
            box-shadow: none;
            transition: .25s ease-in-out;
            display: block;
            width: 250px;
            margin: 0 auto;
        }

        .login-link {
            font-size: 12px;
            color: #444;
            display: block;
            margin-top: 12px;
        }

        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            transition-duration: .3s ease-in-out;
            transition-property: transform;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.05);
        }
    </style>
    {#<link rel="stylesheet" href="{{ asset('css/.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
{% endblock %}
{% block content %}
    <div class="proefles animated bounceInLeft">
        <div class="login-screen">
            <div class="app-title">
                <h1>Proefles</h1>
            </div>
            <div class="login-form">
                <a class="btn btn-primary btn-large btn-block hvr-grow" href="#">Registreer nu</a>
            </div>
        </div>
    </div>



    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <h1>er is iets fout gegaan</h1>
        </div>
    {% endif %}
    <div class="login animated bounceInRight">
        <div class="login-screen">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="formsignin">
                <input  class="login-field" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <label for="username" class="sr-only login-field-icon fui-user">{{ 'security.login.username'| trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email address" class="form-control login-field"
                               required autofocus />
                    </div>
                    <div class="control-group">
                        <label for="password" class="sr-only login-field-icon fui-user">{{ 'security.login.password'| trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control login-field" placeholder="Password" required />
                    </div>
                    <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               id="remember_me"
                               name="_remember_me"
                               value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                    {% if is_granted("ROLE_ADMIN") %}
                        <label class="pull-right"><a
                                    href="{{ path('fos_user_registration_register') }}">Nog geen account, maak er
                                een aan.</a></label>
                    {% endif %}
                    </div>
                <input type="submit"
                       class="btn btn-lg btn-primary btn-block hvr-grow"
                       id="_submit"
                       name="_submit"
                       value="{{ 'security.login.submit'|trans }}" />
                    <a class="login-link" href="#">Wachtwoord vergeten?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block body%}
    <div>
        
    </div>
{% endblock %}